

// Paleta principal
$color-primario: #FFFFFF;
$color-secundario: #3498db;
$color-acento: #e74c3c;

// Colores adicionales
$blanco: #ffffff;

//Servicios
$blancosolido:rgba(255, 255, 255, 0.95);
$onyx: #444;
$negro-o-t: rgba(0, 0, 0, 0.15); //Negro 15% opaco, 85% transparente
$gris:#999;
$night:#111;
$jet:#333;
$azure:#007BFF;

//Arrow
$negro-opaco-aw01: rgba(0, 0, 0, 0.5);
$negro-opaco-aw: rgba(0, 0, 0, 0.7);

//variable. "copiar y pegar"

//falta renombrar mas etiquetas.